@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);



}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-gray);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--White);
    max-width: 320px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    animation: fadeIn 2s ease-in-out;
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card h3{
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0;
    width: 90%;
    color: var(--Dark-blue);
}

.card p{
    font-size: 15px;
    font-weight: 400;
    color: var(--Grayish-blue);
    width: 80%;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

 